<section id="about">
        <header class="section-header">
            <h2 class="section-title turquoise">About me</h2>
            <span class="tagline">Nanhi Pari...</span>
            <p>
                Elllllooooooooooo ....<br>
                I am little, Mommy's darling & Daddy's Princess : Khushi...
                I am a gift from heaven above, a precious little angel to cherish & to love...
            </p>
            <p>
                I was 0 for a whole year , now am gonna be 1...
            </p>
        </header>
        <div class="container">
            <div class="col-md-8 col-md-offset-2 about-me">
                <div class="row">
                    <div class="col-md-6 right blue-bg blue">
                        <div class="description-box">
                            <span class="description">Gender</span>
                            <h3>female</h3>
                        </div>
                    </div>
                    <div class="col-md-6 image" style="background-image: url(images/hero4.jpg)">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 image" style="background-image: url(images/cutie.jpg)">
                    </div>
                    <div class="col-md-6 left turquoise-bg turquoise">
                        <div class="description-box">
                            <span class="description">Called By</span>
                            <h3>Khushi</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 right green-bg green">
                        <div class="description-box">
                            <span class="description">Born</span>
                            <h3>5th March, 2015</h3>
                            <h3>08:45 AM</h3>
                        </div>
                    </div>
                    <div class="col-md-6 image" style="background-image: url(images/born.jpg)">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 image" style="background-image: url(images/town.jpg)">
                    </div>
                    <div class="col-md-6 left red-bg red">
                        <div class="description-box">
                            <span class="description">Place of Birth</span>
                            <h3>banglore</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 right pink-bg pink">
                        <div class="description-box">
                            <span class="description">Hospital</span>
                            <h3>Baptist Hospital,Bangalore</h3>
                        </div>
                    </div>
                    <div class="col-md-6 image" style="background-image: url(images/baptist_hsptl.jpg)">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 image" style="background-image: url(images/india.jpg)">
                    </div>
                    <div class="col-md-6 left yellow-bg yellow">
                        <div class="description-box">
                            <span class="description">Country</span>
                            <h3>India</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 right green-bg green">
                        <div class="description-box">
                            <span class="description">Eyes color</span>
                            <h3>Dark Brown</h3>
                        </div>
                    </div>
                    <div class="col-md-6 image" style="background-image: url(images/eyes.jpg)">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 image" style="background-image: url(images/pisces.jpg)">
                    </div>
                    <div class="col-md-6 left turquoise-bg turquoise">
                        <div class="description-box">
                            <span class="description">Zodiac Sign</span>
                            <h3>Pisces</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>