<section id="events">
        <header class="section-header">
            <h2 class="section-title turquoise">My events</h2>
            <span class="tagline">Precious Moments...</span>
            <p>
                Common , lemme tell you some of my precious moments...
            </p>
        </header>
        <div class="container">
            <div class="col-md-4 yellow-bg yellow">
                <div class="event">
                    <h3>baby showers</h3>
                    <span class="name">Khushi Gupta</span>
                    <span class="street-address">#53, 2nd Main</span>
                    <span class="address">Kattigenahalli,Bangalore</span>
                    <span class="date"><i class="fa fa-calendar"></i> Jan 20th 2015</span> <span class="time"><i class="fa fa-clock-o"></i> 11:00 AM</span><br/>
                    <br>
                </div>
            </div>
            <div class="col-md-4 turquoise-bg turquoise">
                <div class="event">
                    <h3>baptism</h3>
                    <span class="name">Khushi Gupta</span>
                    <span class="street-address">NH-7,Airport Rd, Baptist Hospital</span>
                    <span class="address">Hebbal, Bangalore 6752</span>
                    <span class="date"><i class="fa fa-calendar"></i> Mar 5th 2015</span> <span class="time"><i class="fa fa-clock-o"></i> 08:50 AM</span><br/>
                    <br>
                </div>
            </div>
            <div class="col-md-4 pink-bg pink">
                <div class="event">
                    <h3>1st birthday</h3>
                    <span class="name">Khushi Gupta</span>
                    <span class="street-address">Gokul Restaurant,Kogilu Cross</span>
                    <span class="address">Airport Rd, Bangalore</span>
                    <span class="date"><i class="fa fa-calendar"></i> Mar 5th 2016</span> <span class="time"><i class="fa fa-clock-o"></i> 06:30 PM</span><br/>
                </div>
            </div>
        </div>
    </section>