<section id="family">
        <header class="section-header">
            <h2 class="section-title green">My family</h2>
            <span class="tagline two">Ma World...</span>
        </header>
        <div class="container">
            <div class="my-family">
                <div class="row">
                    <div class="col-md-6 image mommy" style="height: 518px;">
                    </div>
                    <div class="col-md-6 left red-bg red" style="height: 518px;">
                        <h3>Mommy Shruti...</h3>
                        <p>
                            Hiiiaaa.... I am the proud mom of Nanhi Pari...
                        </p>
                        <p>
                            Its greatful to be a MOM, a Daughter is a gift of love & Motherhood
                            is the best gift for any woman. A woman takes pride in being a Mother & Motherhood makes her a complete woman...
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 right turquoise-bg turquoise" style="height: 518px;">
                        <h3>Daddy Mithilesh</h3>
                        <p>
                            Suppp Guys... Myself, Daddy of this beautiful girl...<br>
                            A daughter is a mother's treasure & a father's pride n joy...
                        </p>
                        <p>
                            A cuddle with you takes away my blues,<br> 
                            A tender touch of your finger melts away my anger,<br> 
                            I am reminded by your innocent eyes,<br>
                            That you are my life's biggest prize...
                        </p>
                    </div>
                    <div class="col-md-6 image daddy" style="height: 518px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 image grandma-1" style="height: 518px;">
                    </div>
                    <div class="col-md-6 left pink-bg pink" style="height: 518px;">
                        <h3>Grandma : Pramila</h3>
                        <p>
                            Hello, I am Daadi of Khushi...
                        </p>
                        <p>
                            It was just an year ago,God sent an angel in our home. It was you, my grandchild. Since then, you have filled our life's with happiness. One of the greatest gift my heart will ever know. Becoming a grandmother is wonderful. Something magical happens when parent turn into grandparents.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 right yellow-bg yellow" style="height: 518px;">
                        <h3>Grandma Meera</h3>
                        <p>
                            Heyyy, I am Naani of cutie pie, Khushi...
                        </p>
                        <p>
                            One moment you are just a mother, the next you are all-wise & prehistoric. Being  a mother & grandmother is the best of the best in my life. My grandchild multiply the joy my daughter bring me... Wishing you all of the care-free happiness and laughter of your first year on earth to continue for the years to come.. 
                        </p>
                    </div>
                    <div class="col-md-6 image grandma-2" style="height: 518px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 image grandpa-1" style="height: 518px;">
                    </div>
                    <div class="col-md-6 left red-bg red" style="height: 518px;">
                        <h3>Grandpa Shri Prakash</h3>
                        <p>
                            Heyyaaa, I am Naana of little princess...
                        </p>
                        <p>
                            There's nothing like a grandchild to put a smile on your face, a lump in yoour throat and a warm feeling in your heart. An hour with you make me feel young again. Your presence adds value to our life. You have blessed the hearts of so many during this one year with us, I know you will touch so many more to come.  Happy Birthday my angel...
                        </p>
                    </div>
                </div>
            </div>
            <!-- <a href="#" class="load">Load more</a> -->
        </div>
</section>