<section id="gallery">
        <header class="section-header">
            <h2 class="section-title blue">gallery</h2>
            <span class="tagline">Precious Moments...</span>
            <p>
                Common , lemme tell you some of my precious moments...
            </p>            
        </header>
        <div class="container">
            <div class="row clearfix" id="plusgallery" data-userid="102481571363669204310" data-type="google">
			<script type="text/javascript">
				$('#plusgallery').plusGallery();
			</script>	        
        </div>
</section>