<section id="gifts">
        <header class="section-header">
            <h2 class="section-title turquoise">Gift registry</h2>
            <span class="tagline">Gift to be Remember</span>
            <p>
                Common, Its gonna be my day, My First Birthday... Send me your LoVE :D :D
            </p>
        </header>
        <div class="container">
            <div class="gift-list">
                <a href="#">
                    <div class="col-md-4 image" style="background-image: url(images/tom.jpeg)"></div>
                </a>
                <a href="#">
                    <div class="col-md-4  image" style="background-image: url(images/toy2.jpg)"></div>
                </a>
                <div class="col-md-4 donate yellow-bg yellow">
                    <div class="description-box"><span class="price">$100</span> <a href="#" class="button-empty small">Donate</a></div>
                </div>
                <a href="#">
                    <div class="col-md-4 image" style="background-image: url(images/toys1.jpg)"></div>
                </a>
                <a href="#">
                    <div class="col-md-4 image" style="background-image: url(images/target.png)"></div>
                </a>
                <a href="#">
                    <div class="col-md-4 image" style="background-image: url(images/toys2.jpg)"></div>
                </a>
                <div class="col-md-4 donate green-bg green">
                    <div class="description-box"><span class="price">$100</span> <a href="#" class="button-empty small">Donate</a></div>
                </div>
                <div class="col-md-4 donate blue-bg blue">
                    <div class="description-box"><span class="price">$100</span> <a href="#" class="button-empty small">Donate</a></div>
                </div>
                <a href="#">
                    <div class="col-md-4 image" style="background-image: url(images/toysrus.png)"></div>
                </a>
                <a href="#">
                    <div class="col-md-4 image" style="background-image: url(images/walmart.png)"></div>
                </a>
                <a href="#">
                    <div class="col-md-4 image" style="background-image: url(images/gift1.jpg)"></div>
                </a>
                <div class="col-md-4 donate red-bg red">
                    <div class="description-box"><span class="price">$100</span> <a href="#" class="button-empty small">Donate</a></div>
                </div>
            </div>
        </div>
        </section>