<section id="lifeline">
        <header class="section-header">
            <h2 class="section-title red">My lifeline</h2>
            <span class="tagline two">My Journey starts here...</span>
            <p>
                No joy on this Earth<br>
                </t>bring greater Pleasure<br>
                than a Little Girl<br>
                </t>to Love & to Treasure...
            </p>
        </header>
        <div class="container">
            <div class="posts-wrapper">
                <span class="year">2016</span>
                <div class="clearfix"></div>
                <div class="wrap-post odd">
                    <div class="date_wrapper">
                        <div class="date red-bg">
                            <span class="day">5</span>
                            <span class="month">Mar</span>
                        </div>
                    </div>
                    <div class="post standard red-bg red right">
                        <img src="images/first_pic.jpg" alt="image">
                        <div class="post-wrapper">
                            <h3>Congrats, It's a Girl.</h3>
                            <p>
                                "When a baby is born, so is the Mother..."
                            </p>
                        </div>
                        <img src="images/dii.jpg" alt="image">
                    </div>
                </div>
                <div class="wrap-post even">
                    <div class="date_wrapper">
                        <div class="date turquoise-bg">
                            <span class="day">5</span>
                            <span class="month">Mar</span>
                        </div>
                    </div>
                    <div class="post quote turquoise-bg turquoise left">
                        <img src="images/Dad_beti.jpg" alt="image">
                        <div class="post-wrapper">
                            <blockquote>"Mere Ghar aayi ek Nanhi Pari..." <span class="quote-name">-Daddy</span></blockquote>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="wrap-post odd">
                    <div class="date_wrapper">
                        <div class="date black-bg">
                            <span class="day"></span>
                            <span class="month">Aunts</span>
                        </div>
                    </div>
                <div class="post video black-bg black right">
                        <img src="images/aunts.jpg" alt="image">
                        <div class="post-wrapper">
                            <h3>Lovely Aunts !!!</h3>
                            <p>A niece is a little bit of childhood that can never be lost<br>
                                - Swati, Sneha, Sakshi... !!!</p>
                        </div>
                    </div>
                </div>
                <div class="wrap-post even">
                    <div class="date_wrapper">
                        <div class="date red-bg">
                            <span class="day"></span>
                            <span class="month">Uncle</span>
                        </div>
                    </div>
                    <div class="post map red-bg red left">
                        <img src="images/mamu2.jpg" alt="image">
                        <div class="post-wrapper">
                            <h3>Handsome Uncle  !!!</h3>
                            <p>As Lucky as I can be because  World's Best Niece belongs to me...<br>
                                - Gaurav... !!!</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="wrap-post odd">
                    <div class="date_wrapper">
                        <div class="date green-bg">
                            <span class="day"></span>
                            <span class="month">Family</span>
                        </div>
                    </div>
                    <div class="post slider green-bg green right">
                        <img src="images/jijz.jpg" alt="image">
                        <div class="post-wrapper">
                            <h3>Small & Happy Family</h3>
                        </div>
                    </div>
                </div>
                <div class="wrap-post even">
                    <div class="date_wrapper">
                        <div class="date turquoise-bg">
                            <span class="day"></span>
                            <span class="month">Video</span>
                        </div>
                    </div>
                        <div class="post-wrapper">
                               <div class="post standard pink-bg pink left">
                                    <iframe height="315" src="https://youtube.com/embed/j9FR2pxA8ac" allowfullscreen=""></iframe>
                                    <div class="post-wrapper">
                                        <p>
                                           You are Beautiful,<br>
                                           You are Magical,<br>
                                           You are capable,<br>
                                           You are Wonderful...<br>

                                           We love you Betuuu...
                                        </p>
                                        <p>
                                            A year of laughter , a year of fun,<br>
                                            Our little Girl is turning one...
                                        </p>
                                        <p>
                                            Happy Happy Birthday to youuuu...<br>
                                            Happy Happy Birthday to youuuu...
                                        </p>
                                    </div>
                                </div>
                        </div>
                </div>
                <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>